package components

templ Dropdown(title string) {
<div class="dropdown">
	<div tabindex="0" role="button" class="btn m-1">{title}</div>
	<ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
		{children...}
	</ul>
</div>
}

templ DropdownItem(title string) {
<li><a>{title}</a></li>
}

