package layouts

templ Base() {
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="/assets/styles.css" rel="stylesheet" />
	<script src="/assets/htmx.min.js"></script>
</head>

<body>
	{ children... }
</body>

</html>
}
