package layouts

templ Card() {
	@Base() {
		<div class="min-h-screen flex items-center justify-center bg-base-200">
			<div class="card shadow-xl">
				<div class="card-body">
					{ children... }
				</div>
			</div>
		</div>
	}
}
