package pages

import "github.com/UniquityVentures/resummarized/layouts"

import "github.com/UniquityVentures/resummarized/components"

templ HomePage() {
	@components.WithAdmin(AdminDashboard) {
		@components.WithUser(UserDashboard) {
			@layouts.Navbar() {
			}
		}
	}
}
