package pages

import "firebase.google.com/go/v4/auth"

import "github.com/UniquityVentures/resummarized/layouts"

templ UserDashboard(user *auth.UserRecord) {
	@layouts.Navbar() {
	<h1>Dashboard for { user.Email }</h1>
	}
}
